/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  // display: block;
  text-align: center;
  margin-bottom: 1em;
  width: 50%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;
  border: 1px solid #000

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $border-color;
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

th {
  padding: 1em;
  font-weight: bold;
  text-align: center;
  border: 1px solid mix(#000, $border-color, 25%);
}

td {
  padding: 1em;
  border: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}